[submodule "data/dsa-flash-cards"]
	path = data/dsa-flash-cards
	url = https://github.com/OpenSauce/dsa-flash-cards.git
[submodule "dsa-flash-cards"]
	path = dsa-flash-cards
	url = git@github.com:OpenSauce/dsa-flash-cards.git
