services:
  backend:
    profiles: ["prod"]
    image: ghcr.io/opensauce/dsa-flash-backend:latest
    build:
      context: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DEV_MODE: "${DEV_MODE:-}"
      SECRET_KEY: "${SECRET_KEY:-}"
    volumes:
      - ./dsa-flash-cards:/data/flashcards

  backend-dev:
    profiles: ["dev"]
    build:
      context: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DEV_MODE: "${DEV_MODE:-}"
      SECRET_KEY: "${SECRET_KEY:-}"
    volumes:
      - ./backend/app:/usr/src/app/app
      - ./dsa-flash-cards:/data/flashcards

  frontend:
    profiles: ["prod"]
    image: ghcr.io/opensauce/dsa-flash-frontend:latest
    build:
      context: ./frontend
    environment:
      API_BASE: http://backend:8000
    ports:
      - "3000:3000"

  frontend-dev:
    profiles: ["dev"]
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    depends_on:
      - backend-dev
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    command: yarn dev
    environment:
      API_BASE: http://backend-dev:8000
    ports:
      - "3000:3000"

  db:
    profiles: ["prod", "dev"]
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: flashcards
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  pgadmin:
    profiles: ["dev"]
    image: dpage/pgadmin4:latest
    depends_on:
      - db
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@123.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  db_data:
  pgadmin_data:
